* {
    font-family: 'Roboto', sans-serif;
}

.slick-track {
    display: flex !important;
}
.slick-slide {
    height: inherit !important;
}

.slick-dots li button:before {
    font-size: 30px !important;
}